streamlit==1.25.0
langchain==0.0.267
transformers==4.31.0

torch
torchvision

sentence-transformers==2.2.2
sentencepiece==0.1.99
accelerate==0.21.0
einops==0.6.1

chromadb==0.3.26
duckdb

pdfminer.six==20221105
beautifulsoup4==4.12.2
bs4==0.0.1

requests==2.31.0
six==1.16.0

streamlit-chat
